html *
{
    font-size: 1em ;
    color: #000000;
    font-family: "playfair_displayregular", serif;
    height: 100%;
}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('../FONTS/playfairdisplay-regular-webfont.woff2') format('woff2'),
    url('../FONTS/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column; /*Stack the flex-items (main and footer elements) vertically NOT horizontally*/
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #a5dc99;
    color: white;
}

a {
    text-decoration:none;
}

.navbar {
    list-style-type: none;
    display: flex;
    background: #a5dc99;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.light-green {
    color: #a5dc99;
}