html *
{
    font-size: 1em ;
    color: #000000;
    font-family: "playfair_displayregular", serif;
    height: 100%;
}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('../FONTS/playfairdisplay-regular-webfont.woff2') format('woff2'),
    url('../FONTS/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column; /*Stack the flex-items (main and footer elements) vertically NOT horizontally*/
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #a5dc99;
    color: white;
}

a {
    text-decoration:none;
}

h1 {
    font-size: 2em ;
}

.navbar {
    list-style-type: none;
    display: flex;
    background: #a5dc99;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.topPadding {
    padding: 2.5em 1.5em 1em;
}

.somePadding {
    padding: 1em;
}

.light-green {
    color: #a5dc99;
}

.music-list {
    list-style-type: none;
    display: flex;

    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.music-element{
    height: 3em;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}

.music-element p {
    flex: 0 0 25%;
}
.music-element span.catty-cloud {
    border: 1px solid black;
    font-size: 0.6em;
    padding: 3px;
}

.music-element:nth-child(2n) {
    background: #c9e1c3;
    flex-wrap: wrap;
}

@media screen and (max-width: 550px){
    .navbar{
        flex-direction: column;
    }
}