html *
{
    font-size: 1em ;
    color: #000000;
    font-family: "playfair_displayregular", serif;
}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('../FONTS/playfairdisplay-regular-webfont.woff2') format('woff2'),
    url('../FONTS/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #a5dc99;
    color: white;
}

a {
    text-decoration:none;
}

h1 {
    font-size: 2em ;
}

ul {
    list-style-type: none;
    display: flex;
    background: #a5dc99;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

@media screen and (max-width: 550px){
    ul {
        flex-direction: column;
    }

}

.topPadding {
    padding: 2.5em 1.5em 1em;
}

.somePadding {
    padding: 1em;
}

.light-green {
    color: #a5dc99;
}


/* copied from https://www.codingnepalweb.com/responsive-navigation-menu-bar-design/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    height: 2.5em;
    width: 100%;
    background: #a5dc99;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: fixed;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    color: #a5dc99;
    background: #fff;
}*/